/node_modules
/public/hot
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
storage/clockwork
.env.*.php
.env.php
.env
.env-production
Homestead.yaml
Homestead.json
.phpunit.result.cache
coverage/**